<form name="diagnosis">
    <div class="form-group">
        <label for="collaborateur">Collaborateur</label>
        <input
                class="form-control"
                cam-variable-type="String"
                readonly="true"
                cam-variable-name="tracker_id"
                name="tracker_id"/>
    </div>
    <div class="form-group">
        <label for="ref">Ref Produit</label>
        <input
                class="form-control"
                cam-variable-type="String"
                readonly="true"
                cam-variable-name="ref"
                name="ref"/>
    </div>
    <div class="form-group">
        <label for="productType">Type Produit</label>
        <input class="form-control"
               cam-variable-type="String"
               readonly="true"
               cam-variable-name="productType"
               name="productType"/>
    </div>

    <div class="form-group">
        <label for="price">prix produit</label>
        <input class="form-control"
               cam-variable-type="String"
               readonly="true"
               cam-variable-name="price"
               name="price"/>
    </div>

    <div class="form-group">
        <label for="roleDemandeur">Role Demandeur</label>
        <input class="form-control"
               cam-variable-type="String"
               readonly="true"
               cam-variable-name="roleDemandeur"
               name="roleDemandeur"/>
    </div>
    <div class="form-group">
        <label for="approved">Approuver la demande?</label>
        <select cam-variable-name="approved"
                name="approved"
                cam-variable-type="Boolean">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
    </div>
    <div class="form-group">
        <label for="comment">commentaire</label>
        <textarea class="form-control"
                  cam-variable-type="String"
                  cam-variable-name="comment"
                  name="diagnosisDescription"></textarea>
    </div>
</form>